# Database connection string
DATABASE_URL="file:./dev.db"

# JWT secret (should be a securely generated random value)
JWT_SECRET="YOUR_SECRET_KEY"

AFS_BASE_URL=https://advanced-flights-system.replit.app

# the output of running the sha-256 hash on student number
AFS_API_KEY="YOUR_API_KEY"

